<div id="<%= dom_id puppy %>">
  <p>
    <strong>Name:</strong>
    <%= puppy %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= puppy.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= number_to_currency(puppy.price/100) %>
  </p>

</div>
