<div id="<%= dom_id puppy %>">
  <p>
    <strong>Name:</strong>
    <%= puppy.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= puppy.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= puppy.price %>
  </p>

</div>
